@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital@1&family=Raleway:wght@100&display=swap');

@media (max-width:600px) {
	body {
		overflow-x: hidden;
	}

	#header-title {
		padding-top: 40%;
		font-size: 8vw;
	}

	#desc {
		font-size: 5vw;
	}

	.layer1 {
		background-image: url('./resources/wave-phone.svg');
		padding-bottom: 100%;
	}

	.spacer {
		aspect-ratio: 260/200;

	}

	#socials {
		padding-top: 5%;
	}

	#skills-bar {
		padding-top: 10%;
	}
	#project-body {
		background-color: #0E1322;
		font-family: 'Raleway', sans-serif;
		margin-top: 5%;
		margin-left: 0%;
	
	
		padding-top: 2%;
		padding-bottom: 2%;
		border-radius: 15px;

		transform: scale(1);
		transition: 0.4s ease-in-out;
	}
}



body {
	overflow-x: hidden;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div {
	padding: 0;
	border: 0;
	margin: 0;
	scroll-behavior: smooth;
}

body {
	background-color: #19213d;
	overflow-x: hidden;

}

#header-title {
	font-family: 'Raleway', sans-serif;

	padding-top: 12%;
	font-size: 5vw;
}

.spacer {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	aspect-ratio: 960/600;
	width: 100%;
}

.layer1 {
	background-image: url('./resources/wave-desktop.svg');
}

#header {
	color: #f3f3f3;
}


#linkedin,
#github,
#youtube,
#email {
	transform: scale(1);
	transition: 0.4s ease-in-out;
}

#linkedin:hover,
#github:hover,
#youtube:hover,
#email:hover {
	transform: scale(1.2);
	transition: 0.4s ease-in-out;

}

#social-row {
	padding-top: 2%;
	padding-bottom: 2%;
}


#header-button {
	margin-top: 3%;
	border-radius: 50px;
	background-color: #FFC600;
	color: #19213d;
	font-weight: bolder;
	text-align: center;
	margin: auto;
	padding: 1% 3% 1% 3%;
	box-sizing: content-box;


}

#header-button:hover {
	animation: shake 1.2s;
	animation-iteration-count: infinite;
}

@keyframes shake {

	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}

	10% {
		transform: translate(-1px, -2px) rotate(-2deg);
	}

	20% {
		transform: translate(-3px, 0px) rotate(2deg);
	}

	30% {
		transform: translate(3px, 2px) rotate(0deg);
	}

	40% {
		transform: translate(1px, -1px) rotate(2deg);
	}

	50% {
		transform: translate(-1px, 2px) rotate(-2deg);
	}

	60% {
		transform: translate(-3px, 1px) rotate(0deg);
	}
}


#content-box {

	background-color: #101629;
	color: #ffffff;
	font-family: 'Raleway', sans-serif;
	box-shadow: 5px 5px #090d1a;

}

#content-title,
#libs-title {
	padding-top: 2%;
	color: #FFC600;
}

#content-desc,
#libs-desc,
#tools-desc {
	font-size: 150%;
	font-family: 'Finlandica', sans-serif;
}

#profile {
	height: 60%;
	width: 60%;
	border-radius: 25%;
}

#content-title-me,
#tools-title {
	color: #ff008c;
}


.arrow {
	margin-top: 10%;
	border: solid white;
	border-width: 0 6px 6px 0;
	display: inline-block;
	padding: 60px;
	transition: 0.25s ease-in-out;
}

.down {
	transform: rotate(45deg);


}

.arrow:hover, .arrow-contact:hover {
	transform: scaleX(1.2) rotate(45deg);
	transition: 0.25s ease-in-out;

}
#projects-group {
	margin-top: 10%;
}
@media(min-width:601px) {
	#project-body {
		background-color: #0E1322;
		font-family: 'Raleway', sans-serif;
		margin-top: 5%;
		margin-left: 6%;
	
	
		padding-top: 2%;
		padding-bottom: 2%;
		border-radius: 15px;

		transform: scale(1);
		transition: 0.4s ease-in-out;
	}

	
}
#project-body:hover {

	transform: scale(1.1);
	transition: 0.4s ease-in-out;
}

#project-title {
	color: #FF006B;
}
#project-logo {
	width: 150px;
	height: 150px;
}
#project-code {
	color: #A22CFF;


}
#project-link {
	color: #FFC600;
}
#project-code:hover, #project-link:hover {
	text-decoration: underline;

}
#project-desc {
	color: #FFFFFF;
	font-family: 'Finlandica', sans-serif;
	font-size: 30%;
	padding-top: 5%;
	padding-bottom: 5%;
}
#projects-stack {
	color: #FFFFFF;
	font-family: 'Finlandica', sans-serif;
	padding-bottom: 5%;
}
.arrow-contact {
	margin-top: 2%;
	border: solid white;
	border-width: 0 6px 6px 0;
	display: inline-block;
	padding: 60px;
	transition: 0.25s ease-in-out;
}
